/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/public
/storage/app/wp_*.json
/vendor
/.env
/.env.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.log
.DS_Store
Thumbs.db
/vite.config.js
debug_json.php
